<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhattruong.financialmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_circle_currency"
        android:label="@string/app_name"
        android:roundIcon="@null"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".mvp.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.detail.DetailActivity" />
        <activity android:name=".mvp.home.HomeActivity" />
        <activity android:name=".mvp.signup.SignUpActivity" />
        <activity android:name=".mvp.profile.ProfileActivity" />
        <activity android:name=".mvp.login.LoginActivity" />
        <activity android:name=".mvp.setting.SettingActivity" />
        <activity
            android:name=".mvp.create.CreateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.jar_detail.JarDetailActivity" />
        <activity
            android:name=".mvp.chart.ChartActivity"
            android:screenOrientation="landscape" />

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".reminder.ReminderService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".reminder.ReminderReceiver">
            <intent-filter>
                <action android:name="com.example.nhattruong.financialmanager.action.INIT_EVENT_REMINDER" />
            </intent-filter>
        </receiver>

        <activity android:name=".mvp.todo.TodoActivity" />
        <activity android:name=".mvp.todo.TodoListActivity"/>
    </application>

</manifest>